-- MySQL dump converted from SQLite
-- Generated: 2026-07-16 10:17:43

SET FOREIGN_KEY_CHECKS=0;
SET SQL_MODE='NO_AUTO_VALUE_ON_ZERO';
SET NAMES utf8mb4;

-- Table: `applications`
DROP TABLE IF EXISTS `applications`;
CREATE TABLE `applications` (
  `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  `user_id` INT,
  `course_id` INT not null,
  `full_name` VARCHAR(255) not null,
  `email` VARCHAR(255) not null,
  `phone` VARCHAR(255) not null,
  `professional_background` text not null,
  `status` VARCHAR(255) not null default 'pending',
  `admin_notes` text,
  `created_at` DATETIME,
  `updated_at` DATETIME,
  FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`) ON DELETE CASCADE,
  FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

INSERT INTO `applications` (`id`, `user_id`, `course_id`, `full_name`, `email`, `phone`, `professional_background`, `status`, `admin_notes`, `created_at`, `updated_at`) VALUES (1, 2, 2, 'James Okafor', 'james.okafor@nhs.net', '07700 900 111', 'Paediatric community nurse with 4 years NHS experience.', 'approved', 'Approved ΓÇö strong clinical background.', '2026-05-27 14:50:53', '2026-06-01 07:30:14');
INSERT INTO `applications` (`id`, `user_id`, `course_id`, `full_name`, `email`, `phone`, `professional_background`, `status`, `admin_notes`, `created_at`, `updated_at`) VALUES (2, 3, 2, 'Priya Sharma', 'priya.sharma@careprovider.co.uk', '07700 900 222', 'Complex care coordinator at an independent provider.', 'approved', 'Approved ΓÇö excellent application.', '2026-05-27 14:50:53', '2026-05-27 14:50:53');
INSERT INTO `applications` (`id`, `user_id`, `course_id`, `full_name`, `email`, `phone`, `professional_background`, `status`, `admin_notes`, `created_at`, `updated_at`) VALUES (3, 4, 1, 'Tom Walsh', 'tom.walsh@nhstrust.org', '07700 900 333', 'Newly qualified nurse seeking specialist training.', 'approved', 'Approved ΓÇö meets all criteria.', '2026-05-27 14:50:53', '2026-05-27 14:50:53');

-- Table: `assessment_submissions`
DROP TABLE IF EXISTS `assessment_submissions`;
CREATE TABLE `assessment_submissions` (
  `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  `assessment_id` INT not null,
  `user_id` INT not null,
  `answers` text not null,
  `submitted_at` DATETIME,
  `started_at` DATETIME,
  `score` INT,
  `marker_notes` text,
  `marked_at` DATETIME,
  `created_at` DATETIME,
  `updated_at` DATETIME,
  `question_marks` text,
  FOREIGN KEY (`assessment_id`) REFERENCES `assessments` (`id`) ON DELETE CASCADE,
  FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- Table: `assessments`
DROP TABLE IF EXISTS `assessments`;
CREATE TABLE `assessments` (
  `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  `course_id` INT not null,
  `title` VARCHAR(255) not null,
  `instructions` text,
  `questions` text not null,
  `time_limit_minutes` INT not null default '60',
  `is_active` tinyint(1) not null default '1',
  `created_at` DATETIME,
  `updated_at` DATETIME,
  FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- Table: `cache`
DROP TABLE IF EXISTS `cache`;
CREATE TABLE `cache` (
  `key` VARCHAR(255) not null,
  `value` text not null,
  `expiration` INT not null,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

INSERT INTO `cache` (`key`, `value`, `expiration`) VALUES ('laravel-cache-f04c07286805e92f83c199622619bb83:timer', 'i:1779962502;', 1779962502);
INSERT INTO `cache` (`key`, `value`, `expiration`) VALUES ('laravel-cache-f04c07286805e92f83c199622619bb83', 'i:1;', 1779962502);
INSERT INTO `cache` (`key`, `value`, `expiration`) VALUES ('laravel-cache-adebsholey4real@gmail.com|127.0.0.1:timer', 'i:1779962504;', 1779962504);

-- Table: `cache_locks`
DROP TABLE IF EXISTS `cache_locks`;
CREATE TABLE `cache_locks` (
  `key` VARCHAR(255) not null,
  `owner` VARCHAR(255) not null,
  `expiration` INT not null,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table: `courses`
DROP TABLE IF EXISTS `courses`;
CREATE TABLE `courses` (
  `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  `title` VARCHAR(255) not null,
  `slug` VARCHAR(255) not null,
  `description` text not null,
  `overview` text,
  `learning_objectives` text,
  `curriculum` text,
  `accreditation` VARCHAR(255),
  `duration` VARCHAR(255),
  `location` VARCHAR(255),
  `price` DECIMAL(10,2),
  `is_active` tinyint(1) not null default '1',
  `created_at` DATETIME,
  `updated_at` DATETIME
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

INSERT INTO `courses` (`id`, `title`, `slug`, `description`, `overview`, `learning_objectives`, `curriculum`, `accreditation`, `duration`, `location`, `price`, `is_active`, `created_at`, `updated_at`) VALUES (3, 'course', 'course', 'moon', NULL, '["good"]', '[{"day":"good","title":"day","topics":["topic"]}]', NULL, 3, NULL, 0, 1, '2026-05-27 15:36:39', '2026-05-27 15:36:39');

-- Table: `enquiries`
DROP TABLE IF EXISTS `enquiries`;
CREATE TABLE `enquiries` (
  `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  `name` VARCHAR(255) not null,
  `email` VARCHAR(255) not null,
  `phone` VARCHAR(255),
  `subject` VARCHAR(255),
  `message` text not null,
  `is_read` tinyint(1) not null default '0',
  `created_at` DATETIME,
  `updated_at` DATETIME
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

INSERT INTO `enquiries` (`id`, `name`, `email`, `phone`, `subject`, `message`, `is_read`, `created_at`, `updated_at`) VALUES (1, 'Fred Marshall', 'marshallfred167@gmail.com', +4475758594499, 'hello', 'test', 1, '2026-05-28 10:02:02', '2026-05-28 10:11:15');

-- Table: `failed_jobs`
DROP TABLE IF EXISTS `failed_jobs`;
CREATE TABLE `failed_jobs` (
  `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  `uuid` VARCHAR(255) not null,
  `connection` text not null,
  `queue` text not null,
  `payload` text not null,
  `exception` text not null,
  `failed_at` DATETIME not null DEFAULT CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table: `job_batches`
DROP TABLE IF EXISTS `job_batches`;
CREATE TABLE `job_batches` (
  `id` VARCHAR(255) not null,
  `name` VARCHAR(255) not null,
  `total_jobs` INT not null,
  `pending_jobs` INT not null,
  `failed_jobs` INT not null,
  `failed_job_ids` text not null,
  `options` text,
  `cancelled_at` INT,
  `created_at` INT not null,
  `finished_at` INT,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table: `jobs`
DROP TABLE IF EXISTS `jobs`;
CREATE TABLE `jobs` (
  `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  `queue` VARCHAR(255) not null,
  `payload` text not null,
  `attempts` INT not null,
  `reserved_at` INT,
  `available_at` INT not null,
  `created_at` INT not null
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table: `materials`
DROP TABLE IF EXISTS `materials`;
CREATE TABLE `materials` (
  `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  `course_id` INT not null,
  `title` VARCHAR(255) not null,
  `file_path` VARCHAR(255) not null,
  `file_name` VARCHAR(255) not null,
  `file_size` INT,
  `sort_order` INT not null default '0',
  `created_at` DATETIME,
  `updated_at` DATETIME,
  FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table: `migrations`
DROP TABLE IF EXISTS `migrations`;
CREATE TABLE `migrations` (
  `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  `migration` VARCHAR(255) not null,
  `batch` INT not null
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

INSERT INTO `migrations` (`id`, `migration`, `batch`) VALUES (1, '0001_01_01_000000_create_users_table', 1);
INSERT INTO `migrations` (`id`, `migration`, `batch`) VALUES (2, '0001_01_01_000001_create_cache_table', 1);
INSERT INTO `migrations` (`id`, `migration`, `batch`) VALUES (3, '0001_01_01_000002_create_jobs_table', 1);

-- Table: `page_contents`
DROP TABLE IF EXISTS `page_contents`;
CREATE TABLE `page_contents` (
  `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  `page` VARCHAR(255) not null default 'home',
  `key` VARCHAR(255) not null,
  `label` VARCHAR(255) not null,
  `type` VARCHAR(255) not null default 'text',
  `value` text,
  `created_at` DATETIME,
  `updated_at` DATETIME
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

INSERT INTO `page_contents` (`id`, `page`, `key`, `label`, `type`, `value`, `created_at`, `updated_at`) VALUES (1, 'home', 'hero.headline', 'Hero ΓÇö Headline', 'text', 'Specialist Care\nAt Home', '2026-05-27 14:50:50', '2026-06-06 10:19:37');
INSERT INTO `page_contents` (`id`, `page`, `key`, `label`, `type`, `value`, `created_at`, `updated_at`) VALUES (2, 'home', 'hero.subtext', 'Hero ΓÇö Subtext', 'textarea', 'MMAB Home Care is a CQC-rated Good, nurse-led provider serving North and South East England. We deliver complex clinical care, learning disability and autism support, mental health care, and domiciliary services ΓÇö so people can live well in the comfort of their own homes.', '2026-05-27 14:50:50', '2026-06-06 10:19:38');
INSERT INTO `page_contents` (`id`, `page`, `key`, `label`, `type`, `value`, `created_at`, `updated_at`) VALUES (3, 'home', 'hero.cta_label', 'Hero ΓÇö CTA Button Label', 'text', 'Enquire About Care', '2026-05-27 14:50:50', '2026-06-06 10:19:38');

-- Table: `password_reset_tokens`
DROP TABLE IF EXISTS `password_reset_tokens`;
CREATE TABLE `password_reset_tokens` (
  `email` VARCHAR(255) not null,
  `token` VARCHAR(255) not null,
  `created_at` DATETIME,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table: `sessions`
DROP TABLE IF EXISTS `sessions`;
CREATE TABLE `sessions` (
  `id` VARCHAR(255) not null,
  `user_id` INT,
  `ip_address` VARCHAR(255),
  `user_agent` text,
  `payload` text not null,
  `last_activity` INT not null,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

INSERT INTO `sessions` (`id`, `user_id`, `ip_address`, `user_agent`, `payload`, `last_activity`) VALUES ('07v2El00ESzmFvhkfGqG4Ki3vm8BuHqKEzkGJivW', NULL, '127.0.0.1', 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36', 'eyJfdG9rZW4iOiIyUUNUV2psY0JCaW1wUEtSRG9YTjNkQ1FnZ1dTRjFQbG5neVZFSnRpIiwidXJsIjp7ImludGVuZGVkIjoiaHR0cDpcL1wvMTI3LjAuMC4xOjgwMDBcL2Rhc2hib2FyZCJ9LCJfZmxhc2giOnsib2xkIjpbXSwibmV3IjpbXX19', 1779955617);
INSERT INTO `sessions` (`id`, `user_id`, `ip_address`, `user_agent`, `payload`, `last_activity`) VALUES ('zQHCLiLlN1QyY0hWyBLahMQ2wRm5NJqKQGZHrwVi', NULL, '127.0.0.1', 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Code/1.121.0 Chrome/142.0.7444.265 Electron/39.8.8 Safari/537.36', 'eyJfdG9rZW4iOiJPUmwzc05VM3pLbVVKZ1Z1c1BtbWo3NXgxOXZYYUt0T3RSSkVBNzc5IiwiX3ByZXZpb3VzIjp7InVybCI6Imh0dHA6XC9cLzEyNy4wLjAuMTo4MDAwIiwicm91dGUiOiJob21lIn0sIl9mbGFzaCI6eyJvbGQiOltdLCJuZXciOltdfX0=', 1779957806);
INSERT INTO `sessions` (`id`, `user_id`, `ip_address`, `user_agent`, `payload`, `last_activity`) VALUES ('ths7uFEKpTjq95FNGJf47iS8vOn47PJ759nXbHCf', NULL, '127.0.0.1', 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36', 'eyJfdG9rZW4iOiJaZ2V0WXlGWjYxblVsNEl1WVNVcEMxbWNKUHhrVDFjVWdaUUNjNG0zIiwiX3ByZXZpb3VzIjp7InVybCI6Imh0dHA6XC9cLzEyNy4wLjAuMTo4MDAwXC9jb250YWN0Iiwicm91dGUiOiJjb250YWN0In0sIl9mbGFzaCI6eyJvbGQiOltdLCJuZXciOltdfSwiaW5lcnRpYSI6W119', 1779966251);

-- Table: `survey_links`
DROP TABLE IF EXISTS `survey_links`;
CREATE TABLE `survey_links` (
  `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  `title` VARCHAR(255) not null,
  `description` VARCHAR(255),
  `url` text not null,
  `token` VARCHAR(255) not null,
  `is_active` tinyint(1) not null default '1',
  `created_at` DATETIME,
  `updated_at` DATETIME
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

INSERT INTO `survey_links` (`id`, `title`, `description`, `url`, `token`, `is_active`, `created_at`, `updated_at`) VALUES (1, 'Post-Session Feedback ΓÇö Complex Care Training', 'Please complete after each training day', 'https://forms.google.com/your-form-id-here', 'demo123abc45', 1, '2026-05-27 14:50:53', '2026-05-27 14:50:53');

-- Table: `users`
DROP TABLE IF EXISTS `users`;
CREATE TABLE `users` (
  `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  `name` VARCHAR(255) not null,
  `email` VARCHAR(255) not null,
  `email_verified_at` DATETIME,
  `password` VARCHAR(255) not null,
  `remember_token` VARCHAR(255),
  `created_at` DATETIME,
  `updated_at` DATETIME,
  `two_factor_secret` text,
  `two_factor_recovery_codes` text,
  `two_factor_confirmed_at` DATETIME,
  `role` VARCHAR(255) not null default 'user'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

INSERT INTO `users` (`id`, `name`, `email`, `email_verified_at`, `password`, `remember_token`, `created_at`, `updated_at`, `two_factor_secret`, `two_factor_recovery_codes`, `two_factor_confirmed_at`, `role`) VALUES (1, 'superadmin', 'admin@mmabconsulting.com', '2026-05-27 14:50:51', '$2y$12$hr68HX1JYGQdFq9uNKkir.ZsU0sVuvjkorlStpmsav.z0EHXy9Ley', NULL, '2026-05-27 14:50:51', '2026-05-28 10:23:07', NULL, NULL, NULL, 'admin');
INSERT INTO `users` (`id`, `name`, `email`, `email_verified_at`, `password`, `remember_token`, `created_at`, `updated_at`, `two_factor_secret`, `two_factor_recovery_codes`, `two_factor_confirmed_at`, `role`) VALUES (2, 'James Okafor', 'james.okafor@nhs.net', '2026-05-27 14:50:51', '$2y$12$JFl3j8UZPqhHn9CQo2z1leEBEI4oysWQ9g/USJk9cMyWT2iaTrnEi', NULL, '2026-05-27 14:50:51', '2026-05-27 14:50:51', NULL, NULL, NULL, 'user');
INSERT INTO `users` (`id`, `name`, `email`, `email_verified_at`, `password`, `remember_token`, `created_at`, `updated_at`, `two_factor_secret`, `two_factor_recovery_codes`, `two_factor_confirmed_at`, `role`) VALUES (3, 'Priya Sharma', 'priya.sharma@careprovider.co.uk', '2026-05-27 14:50:51', '$2y$12$O40eXvda.K.qWOoQknnHIeXW5PhkKS/Li.hKVN.noUbA/FWNZibBK', NULL, '2026-05-27 14:50:51', '2026-05-27 14:50:51', NULL, NULL, NULL, 'user');

SET FOREIGN_KEY_CHECKS=1;
